html, body {
  height: 100vh
}
body {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.upper-box {
  width: 100%;
  min-width: 74.25%;
  max-width: 74.25%;
  min-height: 36vh;
  max-height: 36vh;
  margin: auto;
}
.content {
  width: 100%;
  min-width: 74.25%;
  max-width: 74.25%;
  min-height: 59vh;
  max-height: 59vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.04);
}
.text-box {
  align-content: left;
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  opacity: 0.8;
  display: grid;
}
th, td {
  padding-left: 1vh;
  padding-right: 1vh;
  align-content: center;
  text-align: center;
}
table {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}
.table-heading {
  text-align: center;
  font-family: "B612";
  color: #ECECEC;
  font-size: 3vh;
}
.title {
  text-align: center;
  font-family: "B612";
  color: #ECECEC;
  font-size: 2vh;
  margin: 0;
  padding: 0;
}
.author {
  text-align: center;
  font-family: "B612";
  color: #ECECEC;
  font-size: 2vh;
  margin: 0;
  padding: 0;
}
.site {
  align-content: center;
  text-align: center;
  font-family: "B612";
  color: #ECECEC;
  font-size: 2vh;
  margin: 0;
  padding: 0;
}
.footer {
  height: 5vh;
  max-height: 5vh;
  min-height: 5vh;
  width: 100%;
  min-width: 74.25%;
  max-width: 74.25%;
  background-color: black;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.footer {
  text-align: center;
  font-family: "B612";
  font-size: 2vh;
  color: whitesmoke;
  font-style: italic;
  opacity: 0.75;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: lightgray;
}